body{
    font-family: sans-serif;
    color: white;
    background-color: #021b5c;
}

h1{
    text-align: center;
}

a{
    color: white;
}

a:visited {
    font-weight: bold;
    color: #d0e6f2;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

